/* 전체 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', serif;
}

.wrapper {
    margin: 0 auto;
    margin-top: 30px;
    display: table;
    text-align: center;
}

legend{
    margin: 0 auto;
}

/* index */

#title-index {
    font-size: 35px;
}

#line-1-hr-index {
    width: 600px;
}

#fset-index {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

#login-btn-index {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    background: rgb(98, 196, 235);
    border: none;
    cursor: pointer;
}

#login-btn-index:hover {
    background: rgb(163, 227, 252);
}

/* login */

#fset-login {
    width: 400px;
    margin: 0 auto;
    height: 140px;
    padding-top: 15px;
    border: none;
}

#login-table {
    margin: 0 auto;
    height: 80px;
    border: 2px solid lightgray;
    padding: 12px;
}

#login-btn {
    border-radius: 10px;
    height: 75px;
    width: 80px;
    border: none;
    background: rgb(98, 196, 235);
    cursor: pointer;
    font-size: 18px;
    border: 2px solid white;
    transition-duration: 500ms;
}

#login-btn:hover {
    background: rgb(163, 227, 252);
    border: 2px solid skyblue;
    transition-duration: 500ms;
}

#signUpBtn, #resetBtn, #backBtn {
    border-radius: 10px;
    margin-top: 5px;
    height: 30px;
    width: 80px;
    border: none;
    background: rgb(8, 231, 82);
    cursor: pointer;
    font-size: 15px;
    border: 2px solid white;
    transition-duration: 500ms;
}


#signUpBtn:hover{
    background: rgb(181, 252, 163);
    border: 2px solid skyblue;
    transition-duration: 500ms;
}

tr>td:nth-child(2)>* {
    height: 100%;
    font-size: 15px;
}

.loginField{
    margin-bottom: 3px;
}

/* loginsuccess */
#fset-loginsuccess{
    padding: 30px;
    width: 300px;
    margin: 0 auto;
}